Repository JupiterOne/data-model: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.ts": [
    "eslint",
    "prettier --write"
  ],
  "*.{md,js,json}": [
    "prettier --write"
  ]
}

INT-2466 - Add `state` property to `Host` class
  CHANGELOG.md
  src/schemas/Host.json
Due: prettier --write

Prepare v0.44.0
  CHANGELOG.md
Due: prettier --write

0.44.0
  package.json
Due: prettier --write

Update fqdn property
  src/schemas/Host.json
Due: prettier --write

Changelog
  CHANGELOG.md
Due: prettier --write

Making required properties on Device Schema nullable.
  src/schemas/Device.json
Due: prettier --write

0.45.0
  CHANGELOG.md
  package.json
Due: prettier --write

Add CODEOWNERS
  CODEOWNERS
Due: none

add deviceId to Device, run prettier
  CHANGELOG.md
  README.md
  src/schemas/Device.json
Due: prettier --write

v0.46.0
  CHANGELOG.md
  package.json
Due: prettier --write

Making Vulnerability required props optionally nullable
  CHANGELOG.md
  src/schemas/Vulnerability.json
Due: prettier --write

updating changelog
  CHANGELOG.md
Due: prettier --write

Updating build.yml workflow to Node 14
  .github/workflows/build.yml
Due: none

v0.47.0
  CHANGELOG.md
  package.json
Due: prettier --write

Require security team review for CODEOWNERS
  CODEOWNERS
Due: none

Add RelationshipClass.EVALUATES
  CHANGELOG.md
  src/RelationshipClass.ts
Due: eslint, prettier --write

add description
  src/RelationshipClass.ts
Due: eslint, prettier --write

v0.48.0
  CHANGELOG.md
  package.json
Due: prettier --write

Add RelaitonshipClass.RUNS
  CHANGELOG.md
  src/RelationshipClass.ts
Due: eslint, prettier --write

v0.49.0
  CHANGELOG.md
  package.json
Due: prettier --write

Updating User schema to include pw rotation field
  src/schemas/User.json
Due: prettier --write

Update Vendor schema with timestamp of last review
  src/schemas/Vendor.json
Due: prettier --write

Changed to validatedOn
  src/schemas/Vendor.json
Due: prettier --write

Revised wording from rotated to changed
  src/schemas/User.json
Due: prettier --write

Update ipAddress and macAddress for Host
  src/schemas/Host.json
Due: prettier --write

Require `hostname`
  src/schemas/Host.json
Due: prettier --write

Update Host.json
  src/schemas/Host.json
Due: prettier --write

Update CHANGELOG
  CHANGELOG.md
Due: prettier --write

v0.50.0
  package.json
Due: prettier --write

update readme
  README.md
Due: prettier --write

Add Workflow class
  src/IntegrationSchema.ts
  src/schemas/Workflow.json
Due: eslint, prettier --write

Update src/schemas/Workflow.json
  src/schemas/Workflow.json
Due: prettier --write

v0.51.0
  CHANGELOG.md
  package.json
  src/IntegrationSchema.ts
Due: eslint, prettier --write

v0.51.0
  CHANGELOG.md
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write
