Repository JupiterOne/data-model: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.ts": [
    "eslint",
    "prettier --write"
  ],
  "*.{md,js,json}": [
    "prettier --write"
  ]
}

Do not change the keys for the resolved schemas
  src/types/Base.ts
Due: eslint, prettier --write

Fix entity.json issues
  external/resolvedSchemas.json
Due: prettier --write

Fix entity.json
  external/resolvedSchemas.json
Due: prettier --write

Adding .json back
  external/resolvedSchemas.json
  tools/generate-resolved-schemas/index.js
Due: prettier --write

Handle with .json and without
  src/getSchema.test.ts
  src/getSchema.ts
Due: eslint, prettier --write

DEVICE-23 - Add `lastSeenOn` property to `Device` and `HostAgent`
  external/resolvedSchemas.json
  src/schemas/Device.json
  src/schemas/HostAgent.json
Due: prettier --write

aadadd lastSeenOn as a required property on both Devices and HostAgents
  CHANGELOG.md
  external/resolvedSchemas.json
  src/schemas/Device.json
  src/schemas/HostAgent.json
Due: prettier --write

Populate CODEOWENRS, baseline package.json and baseline cortex.yaml
  CODEOWNERS
  cortex.yaml
  package.json
Due: prettier --write

Fix x-cortex-service-groups where tier-4 was set incorrectly
  cortex.yaml
Due: none

Apply remove-codeql with multi-gitter [ci skip]
  .github/workflows/codeql-analysis.yml
Due: none

Add `KNOWS` relationship class
  src/RelationshipClass.ts
Due: eslint, prettier --write

Update src/RelationshipClass.ts
  src/RelationshipClass.ts
Due: eslint, prettier --write

Add support for IP CIDR for Host schema ipAddress
  src/IntegrationSchema.ts
  src/schemas/Host.json
  src/validateEntityWithSchema.test.ts
Due: eslint, prettier --write

Release 0.55.0
  CHANGELOG.md
  package.json
Due: prettier --write

v0.55.0
  CHANGELOG.md
Due: prettier --write
