Repository JupiterOne/data-model: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Update README.md
  README.md
Due: prettier --write

Update user.json with mfaType
  src/schemas/User.json
Due: prettier --write

Initializing the validation field for entity properties
  README.md
  src/property_validation_patterns.json
  src/schemas/AccessPolicy.json
  src/schemas/AccessRole.json
  src/schemas/Account.json
  src/schemas/Application.json
Due: prettier --write

Update Document.json
  src/schemas/Document.json
Due: prettier --write

Creating Python script to generate flat csv of class schemas
  .gitignore
  tools/generate_flat_schemas.py
Due: none

add resolved schema tool
  external/resolvedSchemas.json
  package.json
  tools/generate-resolved-schemas.js
Due: prettier --write

repair broken test
  src/validateEntityWithSchema.test.ts
Due: eslint, prettier --write

move files, add test for resolver, add hook
  .husky/pre-commit
  package.json
  tools/generate-resolved-schemas/index.js
  tools/generate-resolved-schemas/utils.js
  tools/generate-resolved-schemas/utilt.test.js
Due: prettier --write

require tests in ci, update jest config
  .github/workflows/build.yml
  jest.config.js
  tools/generate-resolved-schemas/utilt.test.js
Due: prettier --write

rename utilt -> utils
  tools/generate-resolved-schemas/utils.test.js
Due: prettier --write

Add RelationshipClass.PUBLISHES
  src/RelationshipClass.ts
Due: eslint, prettier --write

v0.52.0
  CHANGELOG.md
  package.json
Due: prettier --write

Added Security Files
  .github/workflows/codeql-analysis.yml
Due: none

Added Security Files
  .github/workflows/peril.yml
Due: none

Reduce minLength requirement of _type to accomedate cve and cwe.
  src/schemas/GraphObject.json
Due: prettier --write

Update CHANGELOG.md and resolvedSchemas.json
  CHANGELOG.md
  external/resolvedSchemas.json
Due: prettier --write

v0.53.0
  package.json
Due: prettier --write

remove required properties from User entity
  src/schemas/User.json
Due: prettier --write

v0.54.0
  CHANGELOG.md
  package.json
Due: prettier --write

Fix jest
  jest.config.js
Due: prettier --write

Move to dev dependencies
  package.json
Due: prettier --write

Yarn lock
  yarn.lock
Due: none

Bug fixes for integration schema, missing comment to attach new schemas
  src/IntegrationSchema.ts
Due: eslint, prettier --write

Actual yarn lockfile
  yarn.lock
Due: none

Remove json schema to ts deps
  package.json
  yarn.lock
Due: prettier --write

Do not change the keys for the resolved schemas
  external/resolvedSchemas.json
  tools/generate-resolved-schemas/index.js
Due: prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{md,js,json})
