Repository JupiterOne/data-model: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

0.14.0
  package.json
Due: prettier --write

Add "locked" as a common property to Domain entity
  src/schemas/Domain.json
Due: prettier --write

changelog
  CHANGELOG.md
Due: prettier --write

v0.14.1
  package.json
Due: prettier --write

Finding.category string | string[], update examples
  CHANGELOG.md
  src/schemas/Finding.json
Due: prettier --write

Finding {severity, numericSeverity}, examples
  CHANGELOG.md
  src/schemas/Finding.json
Due: prettier --write

Add RelationshipClass.APPROVED
  CHANGELOG.md
  src/RelationshipClass.ts
Due: eslint, prettier --write

Changelog for 0.15.0
  CHANGELOG.md
Due: prettier --write

v0.15.0
  package.json
Due: prettier --write

Add Contact entity schema
  CHANGELOG.md
  src/IntegrationSchema.ts
  src/schemas/Contact.json
Due: eslint, prettier --write

Add background check properties to Person entity
  src/schemas/Person.json
Due: prettier --write

release notes
  CHANGELOG.md
Due: prettier --write

v0.15.1
  package.json
Due: prettier --write

remove mac and windows from github actions
  .github/workflows/build.yml
Due: none

Exporting schemas and types
  src/IntegrationSchema.ts
  src/index.ts
Due: eslint, prettier --write

Changing export names to entityClasses and EntityClass
  src/IntegrationSchema.ts
  src/index.ts
Due: eslint, prettier --write

Rename schemas to entitySchemas
  src/IntegrationSchema.ts
  src/index.ts
Due: eslint, prettier --write

v0.16.0
  package.json
Due: prettier --write

Removing set-env
  .github/workflows/build.yml
Due: none

v0.16.1
  package.json
Due: prettier --write

Removing extra quote
  .github/workflows/build.yml
Due: none

v0.16.2
  package.json
Due: prettier --write

v0.16.3
  package.json
Due: prettier --write

Fixing schema generation to export schemas
  src/IntegrationSchema.ts
  src/index.ts
  tools/generate-schema-imports.sh
Due: eslint, prettier --write

v0.16.4
  package.json
Due: prettier --write

Add ThreatIntel entity
  CHANGELOG.md
  src/IntegrationSchema.ts
  src/schemas/ThreatIntel.json
Due: eslint, prettier --write

Update RelationshipClass docs a bit, CHANGELOG
  CHANGELOG.md
  src/RelationshipClass.ts
Due: eslint, prettier --write

v0.16.5
  CHANGELOG.md
  package.json
Due: prettier --write

Fixes #66 - Add RelationshipClass.INSTALLED
  CHANGELOG.md
  src/RelationshipClass.ts
Due: eslint, prettier --write

0.17.0
  package.json
Due: prettier --write

Updated Vendor from type:string to string[]
  src/schemas/Vendor.json
Due: prettier --write

String or array
  src/schemas/Vendor.json
Due: prettier --write

Added test for category as string | string[]
  src/validateEntityWithSchema.test.ts
Due: eslint, prettier --write

v0.18.0
  CHANGELOG.md
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

introduce a ConfigurableHostAgent
  CHANGELOG.md
  src/schemas/ConfigurableHostAgent.json
Due: prettier --write

Add NOTIFIES relationship class
  src/RelationshipClass.ts
Due: eslint, prettier --write

v0.19.0
  package.json
Due: prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{md,js,json})
