Repository JupiterOne/data-model: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "linters": {
    "*.ts": [
      "eslint",
      "prettier --write",
      "git add"
    ],
    "*.{md,js,json}": [
      "prettier --write",
      "git add"
    ]
  },
  "ignore": []
}

Fixes #2 Setup Travis build
  .travis.yml
Due: none

Remove SDK helpers
  .lintstagedrc
  jest.config.js
  package.json
  src/IntegrationSchema.ts
  src/RelationshipClass.ts
  src/converters.test.ts
  src/converters.ts
  src/createIntegrationEntity.test.ts
  src/createIntegrationEntity.ts
  src/createIntegrationRelationship.test.ts
  src/createIntegrationRelationship.ts
  src/getSchema.test.ts
  src/getSchema.ts
  src/index.test.ts
  src/index.ts
  src/ip.ts
  src/schemas/index.ts
  src/tagging.test.ts
  src/tagging.ts
  src/types.ts
  src/util.test.ts
  src/util.ts
  src/validateEntityWithSchema.test.ts
  src/validateEntityWithSchema.ts
  tsconfig.json
  yarn.lock
Due: eslint, prettier --write

Improve inline docs and fix eslint error
  src/IntegrationSchema.ts
  src/validateEntityWithSchema.ts
Due: eslint, prettier --write

v0.2.0
  package.json
Due: prettier --write

Add Domain autoRenew property
  src/schemas/Domain.json
Due: prettier --write

v0.2.1
  package.json
Due: prettier --write

Add script to generate imports instead of using fs
  .huskyrc
  package.json
  src/IntegrationSchema.ts
  tools/generate-schema-imports.sh
  tsconfig.json
Due: eslint, prettier --write

v0.2.2
  package.json
Due: prettier --write

Add README.md
  README.md
Due: prettier --write

Use universal bash lookup mechanism
  tools/generate-schema-imports.sh
Due: none

Fix sed to work on Mac. Beware.
  src/IntegrationSchema.ts
  tools/generate-schema-imports.sh
Due: eslint, prettier --write

Make generate-schema-imports.sh portable & stable
  src/IntegrationSchema.ts
  tools/generate-schema-imports.sh
Due: eslint, prettier --write

update Device data model schema
  src/schemas/Device.json
Due: prettier --write

clarify description
  src/schemas/Device.json
Due: prettier --write

v0.2.3
  package.json
Due: prettier --write

Add Directory entity
  src/IntegrationSchema.ts
  src/schemas/Directory.json
  src/schemas/Domain.json
Due: eslint, prettier --write

Add DomainZone entity;
  src/IntegrationSchema.ts
  src/schemas/DomainZone.json
Due: eslint, prettier --write

Add DomainRecord
  src/IntegrationSchema.ts
  src/schemas/DomainRecord.json
Due: eslint, prettier --write

v0.3.0
  package.json
Due: prettier --write

Add CAA to DomainRecord type enum
  src/schemas/DomainRecord.json
Due: prettier --write

Add additional Domain Record type enums
  src/schemas/DomainRecord.json
Due: prettier --write

v0.3.1
  package.json
Due: prettier --write

Add NetworkEndpoint class
  src/IntegrationSchema.ts
  src/schemas/IpAddress.json
  src/schemas/NetworkEndpoint.json
  src/schemas/NetworkInterface.json
Due: eslint, prettier --write

v0.4.0
  package.json
Due: prettier --write

TTL type should be number
  src/schemas/DomainRecord.json
Due: prettier --write

v0.4.1
  package.json
Due: prettier --write

Add ApplicationEndpoint class
  src/IntegrationSchema.ts
  src/schemas/ApplicationEndpoint.json
Due: eslint, prettier --write

v0.5.0
  package.json
Due: prettier --write

add example to description
  src/schemas/ApplicationEndpoint.json
Due: prettier --write

v0.5.1
  package.json
Due: prettier --write

Use GitHub actions instead of Travis
  .github/workflows/build.yml
  .travis.yml
Due: none

remove production and public as required property on Finding entity schema
  src/schemas/Finding.json
Due: prettier --write

v0.5.2
  package.json
Due: prettier --write

Add Program entity
  src/IntegrationSchema.ts
  src/schemas/Program.json
  src/schemas/Service.json
Due: eslint, prettier --write

v0.6.0
  package.json
Due: prettier --write

add function property to Control entity
  src/schemas/Control.json
  src/schemas/Service.json
Due: prettier --write

v0.6.1
  package.json
Due: prettier --write

remove endpoints as a required property for Service entity
  src/schemas/Service.json
Due: prettier --write

v0.6.2
  package.json
Due: prettier --write
