Repository JupiterOne/data-model: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Add relationship examples for triggers/connects
  src/RelationshipClass.ts
Due: eslint, prettier --write

Fixes #104 - Add Model entity class
  src/IntegrationSchema.ts
  src/schemas/Model.json
Due: eslint, prettier --write

Update CHANGELOG
  CHANGELOG.md
Due: prettier --write

Prepare v0.27.0
  CHANGELOG.md
Due: prettier --write

0.27.0
  package.json
Due: prettier --write

add reported relationship class
  CHANGELOG.md
  src/RelationshipClass.ts
Due: eslint, prettier --write

v0.28.0
  package.json
Due: prettier --write

Add `exception` and `exceptionReason`
  src/schemas/RecordEntity.json
Due: prettier --write

update CHANGELOG
  CHANGELOG.md
Due: prettier --write

v0.29.0
  package.json
Due: prettier --write

added completed relationship class
  CHANGELOG.md
  src/RelationshipClass.ts
Due: eslint, prettier --write

v0.30.0
  package.json
Due: prettier --write

Clarify distinction between HAS and CONTAINS
  src/RelationshipClass.ts
Due: eslint, prettier --write

Fixes #111 - Add firstName and lastName properties to User entity class
  CHANGELOG.md
  src/schemas/User.json
Due: prettier --write

0.31.0
  package.json
Due: prettier --write

Add RelationshipClass.PUBLISHED
  CHANGELOG.md
  src/RelationshipClass.ts
Due: eslint, prettier --write

Changelog for 0.32.0
  CHANGELOG.md
Due: prettier --write

v0.32.0
  package.json
Due: prettier --write

Add Problem entity class
  CHANGELOG.md
  src/IntegrationSchema.ts
  src/index.test.ts
  src/schemas/Problem.json
Due: eslint, prettier --write

Adding string or string array to DomainRecord.value
  src/schemas/DomainRecord.json
Due: prettier --write

Added CHANGeLOG for 0.33.0
  CHANGELOG.md
Due: prettier --write

v0.33.0
  package.json
Due: prettier --write

Add exclusion for "category" property in Problem class
  src/schemas/Problem.json
Due: prettier --write

Update src/schemas/Problem.json
  src/schemas/Problem.json
Due: prettier --write

Reorganize schema to allow for better category exclusion in problem
  src/index.test.ts
  src/schemas/Finding.json
  src/schemas/Problem.json
Due: eslint, prettier --write

Revert "Reorganize schema to allow for better category exclusion in problem"
  src/index.test.ts
  src/schemas/Finding.json
  src/schemas/Problem.json
Due: eslint, prettier --write

Revert "Add exclusion for "category" property in Problem class"
  src/schemas/Problem.json
Due: prettier --write

Update changelog for 0.34.0
  CHANGELOG.md
Due: prettier --write

v0.34.0
  package.json
Due: prettier --write

Add alert class, expand description of Incident class
  src/IntegrationSchema.ts
  src/schemas/Alert.json
  src/schemas/Incident.json
Due: eslint, prettier --write

Apply suggestions from code review
  src/schemas/Alert.json
  src/schemas/Incident.json
Due: prettier --write

Update build to handle release on "main" branch
  .github/workflows/build.yml
Due: none

Update changelog for release of Alert class
  CHANGELOG.md
Due: prettier --write

v0.35.0
  package.json
Due: prettier --write

CORE-1370 - add Question class
  src/IntegrationSchema.ts
  src/index.test.ts
  src/schemas/Question.json
Due: eslint, prettier --write

Add RelationshipClass.ENFORCES
  CHANGELOG.md
  src/IntegrationSchema.ts
  src/RelationshipClass.ts
Due: eslint, prettier --write

Changelog for 0.36.0
  CHANGELOG.md
Due: prettier --write

v0.36.0
  package.json
Due: prettier --write

Update changelog for release 0.37.0
  CHANGELOG.md
Due: prettier --write

v0.37.0
  package.json
Due: prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{md,js,json})
